<div class="row">
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> HTML/CSS/javaScript          
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> JQuery         
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> Ruby         
                      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> PHP          
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> BootStrap          
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> .NET         
                      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> AngularJS          
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> Drupal         
                      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-check">
      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="fix"> Python         
                      </label>
    </div>
  </div>
</div>